In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
gdp_df = pd.read_csv("../data/UNdata_Export_GDP.csv")

FileNotFoundError: [Errno 2] No such file or directory: '../data/UNdata_Export_GDP.csv'

In [3]:
gdp_df = pd.read_csv("../data/UNdata_Export_GDP.csv")

FileNotFoundError: [Errno 2] No such file or directory: '../data/UNdata_Export_GDP.csv'

In [5]:
gdp_df = pd.read_csv("../data/UNdata_Export_GDP.csv")

In [6]:
gdp_df.head()

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN

In [7]:
gdp_df.head(10)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN
6     Afghanistan  2013  2116.465454              NaN
7     Afghanistan  2012  2075.491747              NaN
8     Afghanistan  2011  1904.559799              NaN
9     Afghanistan  2010  1957.029338              NaN

In [9]:
gdp_df[-5:]

,Country or Area,Year,Value,Value Footnotes
6865,Zimbabwe,1992,3054.889178,NaN
6866,Zimbabwe,1991,3426.598094,NaN
6867,Zimbabwe,1990,3324.348171,NaN
6868,footnoteSeqID,Footnote,NaN,NaN
6869,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

In [10]:
gdp_df = gdp_df[:-1]

In [11]:
gdp_df[-5:]

     Country or Area      Year        Value  Value Footnotes
6864        Zimbabwe      1993  3033.504852              NaN
6865        Zimbabwe      1992  3054.889178              NaN
6866        Zimbabwe      1991  3426.598094              NaN
6867        Zimbabwe      1990  3324.348171              NaN
6868   footnoteSeqID  Footnote          NaN              NaN

In [12]:
gdp_df = gdp_df[:-1]

In [13]:
gdp_df[-5:]

     Country or Area  Year        Value  Value Footnotes
6863        Zimbabwe  1994  3263.934978              NaN
6864        Zimbabwe  1993  3033.504852              NaN
6865        Zimbabwe  1992  3054.889178              NaN
6866        Zimbabwe  1991  3426.598094              NaN
6867        Zimbabwe  1990  3324.348171              NaN

In [14]:
gdp_df = gdp_df.iloc[:, :-1]

In [15]:
gdp_df[-5:]

     Country or Area  Year        Value
6863        Zimbabwe  1994  3263.934978
6864        Zimbabwe  1993  3033.504852
6865        Zimbabwe  1992  3054.889178
6866        Zimbabwe  1991  3426.598094
6867        Zimbabwe  1990  3324.348171

In [16]:
gdp_df = gdp_df.rename(columns={'Country or Area': 'Country', 'Year': 'Year', 'Value': 'GDP_Per_Capita'})

In [17]:
gdp_df[-5:]

       Country  Year  GDP_Per_Capita
6863  Zimbabwe  1994     3263.934978
6864  Zimbabwe  1993     3033.504852
6865  Zimbabwe  1992     3054.889178
6866  Zimbabwe  1991     3426.598094
6867  Zimbabwe  1990     3324.348171

In [18]:
gdp_df.shape

(6868, 3)

In [19]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6868 entries, 0 to 6867
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         6868 non-null   object
 1   Year            6868 non-null   object
 2   GDP_Per_Capita  6868 non-null   float64
dtypes: float64(1), object(2)
memory usage: 161.1+ KB

In [20]:
gdp_df['Year'] = pd.to_datetime(gdp_df['Year'])

In [21]:
gdp_df[-5:]

       Country       Year  GDP_Per_Capita
6863  Zimbabwe 1994-01-01     3263.934978
6864  Zimbabwe 1993-01-01     3033.504852
6865  Zimbabwe 1992-01-01     3054.889178
6866  Zimbabwe 1991-01-01     3426.598094
6867  Zimbabwe 1990-01-01     3324.348171

In [22]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6868 entries, 0 to 6867
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         6868 non-null   object
 1   Year            6868 non-null   datetime64[ns]
 2   GDP_Per_Capita  6868 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 161.1+ KB

In [27]:
gdp_df_2014 = gdp_df[gdp_df["Year"] == '2014-01-01']